[submodule "kirby"]
	path = kirby
	url = git@github.com:getkirby/kirby.git
[submodule "content"]
	path = content
	url = git@github.com:welcomewerkstatt/ww-content.git
[submodule "site/plugins/kirby-builder"]
	path = site/plugins/kirby-builder
	url = git@github.com:TimOetting/kirby-builder.git
[submodule "site/plugins/meta-tags"]
	path = site/plugins/meta-tags
	url = git@github.com:pedroborges/kirby-meta-tags.git
[submodule "site/plugins/matomo"]
	path = site/plugins/matomo
	url = git@github.com:sylvainjule/kirby-matomo.git
