[submodule "content"]
	path = content
	url = git@github.com:welcomewerkstatt/ww-content.git
[submodule "site/plugins/meta-tags"]
	path = site/plugins/meta-tags
	url = git@github.com:pedroborges/kirby-meta-tags.git
[submodule "site/plugins/matomo"]
	path = site/plugins/matomo
	url = git@github.com:sylvainjule/kirby-matomo.git
[submodule "site/plugins/kirby-link-button-block"]
	path = site/plugins/kirby-link-button-block
	url = git@github.com:pReya/kirby-link-button-block.git
[submodule "site/plugins/kirby-next-events-block"]
	path = site/plugins/kirby-next-events-block
	url = https://github.com/pReya/kirby-next-events-block.git
[submodule "site/plugins/kirby-notification-box-block"]
	path = site/plugins/kirby-notification-box-block
	url = https://github.com/welcomewerkstatt/kirby-notification-box-block.git
[submodule "site/plugins/kirby-accordion-block"]
	path = site/plugins/kirby-accordion-block
	url = https://github.com/pReya/kirby-accordion-block.git
[submodule "site/plugins/kirby-team-box-block"]
	path = site/plugins/kirby-team-box-block
	url = https://github.com/pReya/kirby-team-box-block.git
[submodule "site/plugins/kirby-fingerprint"]
	path = site/plugins/kirby-fingerprint
	url = https://github.com/bvdputte/kirby-fingerprint.git
