@use 'variables';

/* Generic */
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: var(--primary-blue);
  line-height: 32px;
}

a {
  text-decoration: none;
  color: var(--link-blue);
  &:hover {
    text-decoration: underline;
  }
}

/* Tables e.g. in external Markdown content */
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

/* Headlines */
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  border-bottom: 4px solid var(--highlight-green);
  margin-bottom: 0.6em;
  font-weight: 600;
  font-size: 1.2rem;
}

/* Responsive Embeds for Google Maps, Calendar, etc. */
.embed-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    box-sizing: border-box;
  }
}

.space-between {
  justify-content: space-between;
}

.flex {
  @include variables.desktop {
    display: flex;
  }
}

.flex-column {
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-layout {
  display: flex;
  flex-direction: column;
}

.slider-row {
  picture:not(:first-of-type) img {
    display: none;
  }
  @include variables.desktop {
    picture:not(:first-of-type) img {
      display: block;
    }
  }

  > picture img {
    flex: 1;
    width: 100%;
    height: 28vh;
    object-fit: cover;

    @include variables.desktop {
      max-width: 25vw;
      max-height: 35vh;
      object-fit: cover;
    }
  }
}

header {
  background-image: url("../img/ww_website_logo_mobile.svg");
  background-repeat: no-repeat;
  background-size: 13em;
  background-position: center center;
  height: 7em;
}

.button {
  border: 0;
  background-color: var(--highlight-green);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 0.5em 3em;
  text-align: center;
  display: inline-block;
  margin: 1em 0;
}

.sidebar {
  img {
    width: 100%;
  }
  p {
    margin-top: 0;
  }
}

@include variables.desktop {
  .two-columns-on-desktop {
    display: flex;
  }

  .content {
    flex-basis: 0;
    flex-grow: 2;
    margin-right: 0.6em;
  }

  .content-layout {
    flex-direction: row;
  }

  .sidebar {
    flex-basis: 0;
    flex-grow: 1;
  }

  button {
    width: auto;
  }

  header {
    background-image: url("../img/ww_website_logo.svg");
    background-repeat: no-repeat;
    background-size: 25em;
    background-position: left center;
    height: 8em;
  }
}

/* -- */

.logo {
  width: 35%;
  margin: 40px 0;
}

/* Icons */
.arr-down {
  vertical-align: 7%;
  border: solid currentColor;
  border-width: 0 0.15em 0.15em 0;
  display: inline-block;
  padding: 0.2em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.calendar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calendar li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.undecorated-link {
  color: var(--primary-blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
  fill: var(--primary-blue);
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}
