@use 'variables';
@use 'fonts';
@use 'normalize';
@use 'grid';
@use 'memberform';
@use 'footer';

/* Generic */
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: var(--primary-blue);
  line-height: 32px;
}

a {
  text-decoration: none;
  color: var(--link-blue);
  &:hover {
    text-decoration: underline;
  }
}

/* Tables */
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  border-bottom: 4px solid var(--highlight-green);
  margin-bottom: 0.6em;
  font-weight: 600;
  font-size: 1.2rem;
}

.space-between {
  justify-content: space-between;
}

.flex-container {
  display: flex;
}

.slider-row {
  & img:not(:first-of-type) {
    display: none;
  }

  & > img {
    flex: 1;
    width: 100%;
    height: auto;
  }
}

header {
  background-image: url("../img/ww_website_logo_mobile.svg");
  background-repeat: no-repeat;
  background-size: 16em;
  background-position: center center;
  height: 8em;
}

nav {
  position: relative;
  color: white;

  ul {
    font-family: "Raleway", sans-serif;
    list-style-type: none;

    /** Hide all menu items on default. Show them selectively in media queries **/
    li {
      display: none;
    }

    img {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  a {
    color: white;
  }

  // Fake border on hover in menu
  a:hover {
    text-shadow: 0 0 1px white;
  }
}

.button {
  background-color: var(--highlight-green);
  font-weight: bold;
  color: white;
  padding: 0.5em 3em;
  text-align: center;
  display: inline-block;
  margin: 1em 0;
}

/* Hamburger Menu */
#hamburger-checkbox {
  display: none;

  &:checked + .hamburger-icon {
    background-image: url("../img/close.svg");
  }

  &:checked ~ ul > li {
    display: block;
    padding-bottom: 0.5em;
  }

  &:checked ~ ul > li > ul > li {
    display: block;
  }
}

.hamburger-icon {
  background-image: url("../img/hamburger.svg");
  background-size: auto 100%;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1em;
  z-index: 1;
}

nav .open > a {
  display: none;
}

nav ul li ul li {
  font-weight: normal;
  margin-left: 1em;
}

.sidebar {
  img {
    width: 100%;
  }
  p {
    margin-top: 0;
  }
}

@media only screen and (min-device-width: variables.$breakpoint) {
  .two-columns-on-desktop {
    display: flex;
  }

  .content {
    flex-basis: 0;
    flex-grow: 2;
    margin-right: 0.6em;
  }

  .sidebar {
    flex-basis: 0;
    flex-grow: 1;
  }

  .slider-row > img {
    max-width: 25vw;
    max-height: 35vh;
  }

  button {
    width: auto;
  }

  header {
    background-image: url("../img/ww_website_logo.svg");
    background-repeat: no-repeat;
    background-size: 25em;
    background-position: left center;
    height: 8em;
  }

  /* Desktop Menu and Footer */
  nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    margin: 0;
  }

  nav > ul > li {
    padding: 1em;
  }

  nav > ul > li > ul > li {
    padding: 0.5em 1em;
  }

  nav > ul > li:first-child {
    padding-left: 0;
  }

  nav > ul > li:last-child {
    padding-right: 0;
  }

  nav ul li {
    position: relative;
  }

  /** Sub Menu **/
  nav ul li ul {
    display: none;
    position: absolute;
    top: 2.75em;
    background-color: var(--highlight-green);
    min-width: 80%;
    white-space: nowrap;
    margin-left: -1em;
    box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  nav ul li:hover ul {
    display: block;
  }

  footer > nav {
    font-size: 0.8em;
  }

  nav .active > a {
    color: black;
    font-weight: bold;
  }

  nav .open > a {
    display: block;
  }

  nav ul > li {
    display: block;
  }

  nav ul img {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  .slider-row img:not(:first-of-type) {
    display: block;
  }

  nav ul li ul li {
    margin-left: 0;
  }
}

nav ul {
  padding: 0;
  position: relative;
}

nav .active {
  font-weight: bold;
  display: block;
}

nav .open {
  display: block;
}

nav .open.active > a {
  display: block;
}

nav .active > a {
  margin: 0 auto;
  color: black;
}

/* -- */

.logo {
  width: 35%;
  margin: 40px 0;
}

/* Icons */
.arr-down {
  vertical-align: 7%;
  border: solid currentColor;
  border-width: 0 0.15em 0.15em 0;
  display: inline-block;
  padding: 0.2em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.calendar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calendar li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.undecoratedLink {
  color: var(--primary-blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
  fill: var(--primary-blue);
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}
