:root {
  height: 100%;
  --background-grey: rgb(250, 250, 250);
  --border-grey: rgba(0, 0, 0, 0.07);
  --text-grey: #364149;
  --github-link-blue: #0366d6;
  --gitbook-link-blue: #008cff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
}

/* Utilities */

.full-height {
  height: 100%;
}

.padding {
  padding: 1rem;
}

.flex-1 {
  flex: 1;
}

.no-margin {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.active {
  color: var(--github-link-blue);
}

/* Menu */

.navigation {
  font-size: 0.9rem;
  color: var(--text-grey);
  flex-shrink: 2;
  flex-basis: content;
  background-color: var(--background-grey);
  border-right: 1px solid var(--border-grey);
}

.navigation ul li {
  list-style-type: none;
  padding: 0.3rem 0;
}

.navigation > ul > li {
  padding: 0.5rem 0;
  list-style-type: none;
}

.navigation > ul > li > a {
  font-weight: 600;
  font-size: 1rem;
}

.navigation > ul > li span:hover {
  text-decoration: underline;
}

.nested-list {
  margin: 0.2rem 0;
  padding: 0 0 0 1.2rem;
}

.nested-list > li:hover {
  text-decoration: underline;
}

.nested-list li:last-child {
  padding-bottom: 0;
}

.site-title {
  border-bottom: 1px solid var(--border-grey);
}

.content {
  flex: 5;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GitHub Markdown custom styles */

.last-edited {
  margin-top: 2em !important;
  font-size: 0.8em;
  font-style: italic;
  border-top: 1px solid #eaecef;
}

.markdown-body {
  box-sizing: border-box;
  width: 980px;
  margin: 0 auto;
  padding: 45px;
  flex: 1;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.markdown-body figure {
  text-align: center;
}

.markdown-body figure figcaption {
  font-style: italic;
}

/* Sortable */

.sortable td,
.sortable th {
  padding: 10px;
}

.sortable th:hover {
  cursor: pointer;
  color: #000;
}

.sortable th:hover::after {
  color: inherit;
  font-size: 1.2em;
  content: ' \025B8';
}

.sortable th::after {
  font-size: 1.2em;
  color: transparent;
  content: ' \025B8';
}

.sortable th.dir-d {
  color: #000;
}

.sortable th.dir-d::after {
  color: inherit;
  content: ' \025BE';
}

.sortable th.dir-u {
  color: #000;
}

.sortable th.dir-u::after {
  color: inherit;
  content: ' \025B4';
}

.parvus-zoom__indicator {
  display: none;
}

.extra-wide {
  width: 1080px;
}

.overflow-auto {
  overflow: auto;
}
