/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/raleway-v14-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/raleway-v14-latin-600.woff2") format("woff2"), url("../fonts/raleway-v14-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v14-latin-700.woff2") format("woff2"), url("../fonts/raleway-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-regular - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/pt-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/pt-sans-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/pt-sans-v11-latin-700.woff2") format("woff2"), url("../fonts/pt-sans-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --column-width: calc(1260px / 3);
}

/* Main Grid */
main {
  overflow-x: hidden;
  display: grid;
  height: 100vh;
  grid-template-columns: [full-start] minmax(1.2em, auto) [main-start] repeat(3, minmax(0, var(--column-width))) [main-end] minmax(1.2em, auto) [full-end];
  grid-template-rows: [logo-start] auto [logo-end slider-start] auto [slider-end menu-start] auto [menu-end content-start] 1fr [content-end footer-start] auto [footer-end];
}

/* Columns */
.full-column {
  grid-column: full;
}

.main-column {
  grid-column: main;
}

/* Rows */
.logo-row {
  grid-row: logo;
}

.logo-row.main-column {
  align-self: center;
}

.slider-row {
  grid-row: slider;
  padding-bottom: 30px;
}

.menu-row {
  grid-row: menu;
}

.content-row {
  padding: 1.5em 0;
  grid-row: content;
}

.footer-row {
  grid-row: footer;
}

/* Colors */
.blue {
  background-color: var(--primary-blue);
}

.green {
  background-color: var(--highlight-green);
}

.grey {
  background-color: var(--background-white);
}

#member-form {
  display: flex;
  flex-direction: column;
}
#member-form .form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-device-width: 800px) {
  #member-form > .form-row > .field:first-child {
    margin-right: 2rem;
  }
}
#member-form .form-row .field {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
#member-form .field > input {
  flex: 2;
}
#member-form input:required ~ label:after {
  content: " *";
  display: inline;
}
#member-form .field > label {
  min-width: 7.5rem;
  flex: 1;
}
#member-form .checkbox > label > input {
  position: relative;
  vertical-align: middle;
  bottom: 3px;
}
#member-form .radio {
  flex: 1;
  border: 1px solid rgba(35, 41, 49, 0.2);
  padding: 1em;
  display: flex;
  align-items: flex-start;
}
#member-form .radio:nth-of-type(even) {
  margin-top: 2em;
}
@media only screen and (min-device-width: 800px) {
  #member-form .radio:nth-of-type(even) {
    margin-top: 0;
    margin-left: 2em;
  }
}
#member-form .radio > input {
  margin: 0.5em 0.9em 0 0;
}
#member-form .radio-labels-container {
  display: flex;
  flex-direction: column;
}
#member-form .form-row label:first-of-type {
  font-weight: bold;
}
#member-form .secondary-label {
  display: block;
  font-style: italic;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
#member-form .account-info .line {
  display: flex;
  flex-wrap: wrap;
}
#member-form .account-info .line div:first-child {
  font-weight: bold;
}
#member-form input,
#member-form textarea {
  border-radius: 0.25rem;
  border: 1px solid var(--border-grey);
  padding: 0.375rem 0.75rem;
}
#member-form .field {
  margin: 1rem 0;
}
#member-form .honeypot {
  position: absolute;
  left: -9999px;
}

footer nav {
  display: flex;
  justify-content: space-between;
}
footer nav ul {
  display: flex;
}
footer nav ul li {
  display: block;
}
footer nav ul li:not(:last-child) {
  margin-right: 1em;
}
footer nav .social-media-icons {
  padding: 1em 0;
  display: flex;
}
footer nav .social-media-icons .social-media-icon svg {
  display: block;
  fill: white;
  width: 1.5em;
  height: 1.5em;
}
footer nav .social-media-icons .social-media-icon a {
  color: white;
}
footer nav .social-media-icons .social-media-icon:not(:first-child) {
  margin-left: 1em;
}

/* Generic */
:root {
  --primary-blue: #232931;
  --highlight-green: #12b27f;
  --background-white: #f1f1f1;
  --border-grey: #ced4da;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: var(--primary-blue);
  line-height: 32px;
}

a {
  text-decoration: none;
}

/* Tables */
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  border-bottom: 4px solid var(--highlight-green);
  margin-bottom: 0.6em;
  font-weight: 600;
  font-size: 1.2rem;
}

.space-between {
  justify-content: space-between;
}

.flex-container {
  display: flex;
}

.slider-row img:not(:first-of-type) {
  display: none;
}

.slider-row > img {
  flex: 1;
  width: 100%;
  height: auto;
}

header {
  background-image: url("../img/ww_website_logo_mobile.svg");
  background-repeat: no-repeat;
  background-size: 16em;
  background-position: center center;
  height: 8em;
}

nav {
  position: relative;
  color: white;
}
nav ul {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  /** Hide all menu items on default. Show them selectively in media queries **/
}
nav ul li {
  display: none;
}
nav ul img {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
nav a {
  color: white;
}
nav a:hover {
  text-shadow: 0 0 1px white;
}

.button {
  background-color: var(--highlight-green);
  font-weight: bold;
  color: white;
  padding: 0.5em 3em;
  text-align: center;
  display: inline-block;
  margin: 1em 0;
}

/* Hamburger Menu */
#hamburger-checkbox {
  display: none;
}
#hamburger-checkbox:checked + .hamburger-icon {
  background-image: url("../img/close.svg");
}
#hamburger-checkbox:checked ~ ul > li {
  display: block;
  padding-bottom: 0.5em;
}
#hamburger-checkbox:checked ~ ul > li > ul > li {
  display: block;
}

.hamburger-icon {
  background-image: url("../img/hamburger.svg");
  background-size: auto 100%;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1em;
  z-index: 1;
}

nav .open > a {
  display: none;
}

nav ul li ul li {
  font-weight: normal;
  margin-left: 1em;
}

.sidebar img {
  width: 100%;
}
.sidebar p {
  margin-top: 0;
}

@media only screen and (min-device-width: 800px) {
  .two-columns-on-desktop {
    display: flex;
  }

  .content {
    flex-basis: 0;
    flex-grow: 2;
    margin-right: 0.6em;
  }

  .sidebar {
    flex-basis: 0;
    flex-grow: 1;
  }

  .slider-row > img {
    max-width: 25vw;
    max-height: 35vh;
  }

  button {
    width: auto;
  }

  header {
    background-image: url("../img/ww_website_logo.svg");
    background-repeat: no-repeat;
    background-size: 25em;
    background-position: left center;
    height: 8em;
  }

  /* Desktop Menu and Footer */
  nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    margin: 0;
  }

  nav > ul > li {
    padding: 1em;
  }

  nav > ul > li > ul > li {
    padding: 0.5em 1em;
  }

  nav > ul > li:first-child {
    padding-left: 0;
  }

  nav > ul > li:last-child {
    padding-right: 0;
  }

  nav ul li {
    position: relative;
  }

  /** Sub Menu **/
  nav ul li ul {
    display: none;
    position: absolute;
    top: 2.75em;
    background-color: var(--highlight-green);
    min-width: 80%;
    white-space: nowrap;
    margin-left: -1em;
    box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  nav ul li:hover ul {
    display: block;
  }

  footer > nav {
    font-size: 0.8em;
  }

  nav .active > a {
    color: black;
    font-weight: bold;
  }

  nav .open > a {
    display: block;
  }

  nav ul > li {
    display: block;
  }

  nav ul img {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  .slider-row img:not(:first-of-type) {
    display: block;
  }

  nav ul li ul li {
    margin-left: 0;
  }
}
nav ul {
  padding: 0;
  position: relative;
}

nav .active {
  font-weight: bold;
  display: block;
}

nav .open {
  display: block;
}

nav .open.active > a {
  display: block;
}

nav .active > a {
  margin: 0 auto;
  color: black;
}

/* -- */
.logo {
  width: 35%;
  margin: 40px 0;
}

/* Icons */
.arr-down {
  vertical-align: 7%;
  border: solid currentColor;
  border-width: 0 0.15em 0.15em 0;
  display: inline-block;
  padding: 0.2em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.calendar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calendar li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.undecoratedLink {
  color: var(--primary-blue);
  text-decoration: none;
}

.icon {
  display: inline-flex;
  align-self: center;
}

.icon svg,
.icon img {
  height: 1em;
  width: 1em;
  fill: var(--primary-blue);
}

.icon.baseline svg,
.icon img {
  top: 0.125em;
  position: relative;
}

/*# sourceMappingURL=main.css.map */
